.buttonClass{
  margin-top:10px;
  width: 65px;
  height: 40px;
  padding: 8px 8px;
  background-color: #606060;
  color: white;
  border-radius: 12px;
  border-style:none;
  margin-left: 30px;
  font-size: 14px;
  position:fixed;	
}

.container{
  margin-top: 100px;
  text-align: center;
}

.largerCheckbox { 
  margin-top:15px;
  transform : scale(1.5); 
}

