table{
	border: 2px solid black;
	border-radius: 4px;
	border-collapse: collapse;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

th{
	color: white;
	padding: 6px;
	text-align: center;
	background-color: #1f1f1f;
}

td{
	color: white;
	padding: 6px;
	text-align:center;
}

tr{
	background-color: #606060;
	height: 40px;
}

tr:hover{
	background-color: #383838;
}

